:root {
  --bg-color: #fff;
  --text-color: #000;
  --main-color: #37ad00;
  --main-distance: 40px;
}

.dark {
  --bg-color: #000;
  --text-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  transition: 0.3s;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: 0.3s;
}

::selection {
  background-color: var(--main-color);
  color: #fff;
}

/* ----- scrollbar styles ----- */

::-webkit-scrollbar {
  background-color: #eee;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:active {
  background-color: #111;
}

/* ----- tags styles ----- */

a {
  color: #000;
  text-decoration: none;
}

/* ----- dark mode styles ----- */

.dark ::-webkit-scrollbar {
  background-color: #000;
}

.dark ::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}

.dark ::-webkit-scrollbar-thumb:active {
  background-color: #257500;
}

/* ----- adaptation styles ----- */

@media screen and (max-width: 1024px) {
  :root {
    --main-distance: 20px;
  }
}
